<!-- Aqui estaremos codificando el html de la pagina principal y posteriormente crearemos el cuerpo
 y el head para recibir y mostrar los datos en pantalla-->
<div class="container">
  <div class="card">
    <div class="card_header">
      <h3 class ="text-center"> Agenda</h3>
    </div>
    <div class="card-body">
      <table class="table table-hoverS">

      <thead>
      <tr class="text-center">
        <th scope="col"> ID </th>
        <th scope="col"> Nombre completo </th>
        <th scope="col">Telefono </th>
        <th scope="col">E-mail </th>
        <th scope="col">Fecha de nacimiento </th>
      </tr>
      </thead>
      <tbody>

        <tr class="text-center" *ngFor="let contacto of contactos; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.numberCell}}</td>
        <td>{{contacto.email}}</td>
        <td>{{contacto.dataBorn}}</td>
          <button class="btn btn-warning">Editar</button>
          <button class="btn btn-warning" style="margin-left: 10px;">Borrar</button>
        </tr>

      </tbody>
      </table>
    </div>
  </div>
</div>
