<div class="container">
  <div class="card">
    <div class="card_header">
      <h3> Personas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hoverS">
      <thead>
      <tr class="text-center">
        <th>ID</th>
        <th> Nombre completo</th>
        <th>Telefono</th>
        <th>E-mail</th>
        <th>Fecha de nacimiento</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center">
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-warning">Editar</button>
          <button class="btn btn-warning" style="margin-left: 10px;">Delete</button>
        </td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
